@font-face {
    font-family: 'minimal';
    src: url(tipografia/minimal/minimal.otf) format('truetype');
font-style: normal;
font-weight: normal;
}
header{
    background-image: url(Imagen/redes-mundo-digital-conexiones-internet-datos.jpg);
    padding: 2%;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    }
    
header h1{

    font-family: 'minimal';
    color: white;
    font-weight: bolder;
}


    header nav ul{
        display: flex;
        gap: 15px;
        
        }
    
    header a{
        text-decoration: none;
        color: white;  
        font-size: 120%; 
        }
        
        header ul  li{
        
            list-style: none;
        
        }





footer{
    width: 100%;
    height: auto;
    padding: 2%;
    background-color:  #0a1a2f;
    color: white;
    font-family: 'minimal';

    }